html {
	cursor: auto;
	/*font-family: flappy-font;*/
	font-family: 'Gafata', sans-serif;
	/*background-image:url('images/bg.jpg');*/
	/*background-color: rgb(95, 160, 208);*/
	/*53	127	212	*/
	/*53	127	212	*/
}

canvas:hover {
	cursor: pointer;
}

body {
	text-align: center;
	background: #f2f6f8;
}

@font-face {
	font-family: flappy-font;
	src: url(flappy_font.ttf);
}

h1 {
	/*border: 1px solid green;*/
	font-family: flappy-font;
	font-size: 60px;
	text-shadow: 1px 1px 0px #888888;
	color: orange;
	font-weight: bold;
	/*text-align: center;*/
	/*padding-top: 420px;*/
	/*padding-left: 40px;*/
	/*text-transform: uppercase;*/
}

h2 {
	font-family: flappy-font;
	font-size: 60px;
	text-shadow: 1px 1px 0px #888888;
	color: green;
}

p {
	/*border: 1px solid cyan;*/
	/*font-family: flappy-font;*/
	/*text-transform: uppercase;*/
}

canvas {

	/*border: 1px solid black;*/

	/*margin: auto;*/
	/*margin-top: 30px;*/
	margin-left: 200px;
	margin-right: 30px;

	position: absolute;
	top: 150px;
	left: 0px;
	bottom: 0px;
	right: 0px;

	background: transparent;
	border-radius: 20px;
	display: inline;

	/*float: left;*/
}

#container {
	/*border: 1px solid red;*/
	display: inline-block;
	width: 850px;
	margin: 0 auto;
	text-align: center;
	/*margin-left: 100px;*/
}

.score {
	/*font-style: italic;*/
	font-weight: bold;
}

.date {
	font-size: 12px;
}

.rank {
	font-style: bold;
}

li {
	/*list-style: none;*/
}

ul {
	/*border: 1px solid magenta;*/
}

#scores {
	position: absolute;
	/*margin-left: 600px;*/
	/*margin-top: 100px;*/
	left: 850px;
	top: 250px;
}

#instructions {
	font-size: 16px;
	position: absolute;
	top: 550px;
	width: 800px;
	text-align: left;
}

h3 {
	position: absolute;
	left: 850px;
	top: 200px;
}
