html {
	/*background: blue;*/
	cursor: auto;
}

canvas:hover {
	cursor: pointer;
}

body {
	text-align: center;
	background: #f2f6f8;
}

@font-face {
	font-family: flappy-font;
	src: url(flappy_font.ttf);
}

h1 {
	font-family: flappy-font;
	text-align: center;
	color: orange;
	font-weight: bold;
	padding-top: 420px;
	padding-left: 40px;
	/*box-shadow: 10px 10px 5px #888888;*/
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
	margin-left: 360px;
	margin-top: 38px;
	border-radius: 3px;
	display: inline;
}


#container {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#iphone-frame {
	width: 840px;
	display: inline;
	position: absolute;
	z-index: -1;
}

.score {
	/*font-style: italic;*/
	font-weight: bold;
}

.rank {
	font-style: bold;
}

li {
	list-style: none;
}
